/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css
/public/js 
/public/mix-manifest.json
/public/bower_components
/public/images/uploads
/public/webfonts
/public/imagess
/public/avatars
/public/i18n
/coverage
/.env.dusk.local
